{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}Non-Profit Organisations{% endblock title %}

{% block content %}
<div class="container">
  <h1>Non-Profit Organisations</h1>

  <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="row">
            <div class="col-md-12">
              <h3>Age Concern Newcastle</h3>
              <a class="btn btn-primary" href="{{url('npo_stats', {'charitycode': 'ageconcern-ncl'})}}">View</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</div> {# End Container #}
{% endblock content %}
