{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity{% endblock title %}


{% block content %}
<div class="container">
  <h1>A. Charity</h1>

  <!-- Large row so as to set up the grid ahl nice -->
  <div class="row">
    <div class="col-md-8">

      <div class="row"> {# Summary panel #}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Summary</h3>
            </div>
            <div class="panel-body">
              <p>
                This is a summary of the charity's work, in their own words.
              </p>

              <p><em>
                AGE UK NEWCASTLE OFFERS A RANGE OF SERVICES WHICH MAKE A REAL DIFFERENCE TO THE QUALITY OF LIFE OF OLDER PEOPLE AND ADDRESS THE MANY CAUSES OF SOCIAL ISOLATION AND LONELINESS:
                <ul>
                  <li>WE PUT MORE MONEY IN OLDER PEOPLE?S POCKETS</li>
                  <li>SUPPORT THEM TO MAKE POSITIVE LIFESTYLE CHANGES AND MANAGE THEIR LONG TERM CONDITION BETTER</li>
                  <li>STAY CONNECTED AND INCLUDED WITH PEOPLE, ACTIVITIES AND THEIR LOCAL COMMUNITIES</li>
                </ul>
              </em></p>

            </div>
          </div>
        </div>
      </div>

      <div class="row"> {# Quick facts #}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Quick Numbers</h3>

            </div>
            {# Panels for the tidbits #}
            <div class="panel-body list-group-item">
              Age Concern Newastle <b>employ 189 people</b> and have <b>133 volunteers</b>
            </div>


            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>spent £3.09m</b> supplying services and grants for its beneficiaries, and <b>received £2.45m</b> as fees or grants for these services. This totals as <b>a £0.64m spend</b> on providing its beneficiaries with services.
            </div>

            <div class="panel-body list-group-item">
              In 2014, <b>88% of spending</b> by Age Concern Newcastle was on charitable activities, this amount was also <b>106% of its income</b>.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>earned £0.04m</b> via activities such as running shops or hosting events. It <b>spent £0.05m</b> in costs related to these activities. This totals as a <b>£0.01m loss</b> for the organisation.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>receieved £0.35m</b> through voluntary donations or grants, in which the donator receives nothing in return. It <b>spent £0.07m</b> generating these donations. This totals as a <b>£0.28m gain</b> for the organisation.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newastle <b>did not gain money from investment</b>, it <b>also did not spend on investment</b>.
            </div>


            <div class="panel-body list-group-item">
              Since 2010, Age Concern Newcastle's <b>income has fallen by 0.86%</b> whilst its <b>spending has increased by 21.97%</b>. On average, Age Concern Newcastle <b>spends 7.81% more than it receives each year</b>.
            </div>

          </div>
        </div>
      </div>

    </div> {# End main body #}

    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Income and Spending</h3>
            </div>

            <div class="panel-body">
              <canvas id="incomeChart"></canvas>
              <a role="button" data-toggle="collapse" href="#income-table">Expand / Collapse</a>
              <table class="table table-hover collapse" id="income-table">
                <thead>
                  <tr>
                    <th>Year</th>
                    <th>Total Income</th>
                    <th>Total Spending</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>2010</td>
                    <td>£2,870,629</td>
                    <td>£2,897,856</td>
                  </tr>

                  <tr>
                    <td>2011</td>
                    <td>£3,019,406</td>
                    <td>£3,110,235</td>
                  </tr>

                  <tr>
                    <td>2012</td>
                    <td>£2,713,501</td>
                    <td>£2,818,921</td>
                  </tr>

                  <tr>
                    <td>2013</td>
                    <td>£2,814,877</td>
                    <td>£3,012,553</td>
                  </tr>

                  <tr>
                    <td>2014</td>
                    <td>£2,845,831</td>
                    <td>£3,534,372</td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>
        </div>
      </div>

    </div> {# End sidebar #}

  </div>

</div> <!-- End container -->

<script type="text/javascript" src="{{asset('/js/chart-js/Chart.js')}}"></script>

<script>

  var ctx = document.getElementById("incomeChart").getContext("2d");

  var data = {
    labels: ["2010", "2011", "2012", "2013", "2014"],
    datasets: [
        {
            label: "Income",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [2870629, 3019406, 2713501, 2814877, 2845831]
        },
        {
            label: "Spending",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [2897856, 3110235, 2818921, 3012552, 3534372]
        }
    ]
};

  var incomeChart = new Chart(ctx).Bar(data);
</script>

{% endblock content %}
