{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity{% endblock title %}


{% block content %}
<div class="container">
  <h1>A. Charity</h1>

  <!-- Large row so as to set up the grid ahl nice -->
  <div class="row">
    <div class="col-md-8">

      <div class="row"> {# Summary panel #}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Summary</h3>
            </div>
            <div class="panel-body">
              <p>
                This is a summary of the charity's work, in their own words.
              </p>

              <p><em>
                AGE UK NEWCASTLE OFFERS A RANGE OF SERVICES WHICH MAKE A REAL DIFFERENCE TO THE QUALITY OF LIFE OF OLDER PEOPLE AND ADDRESS THE MANY CAUSES OF SOCIAL ISOLATION AND LONELINESS:
                <ul>
                  <li>WE PUT MORE MONEY IN OLDER PEOPLE?S POCKETS</li>
                  <li>SUPPORT THEM TO MAKE POSITIVE LIFESTYLE CHANGES AND MANAGE THEIR LONG TERM CONDITION BETTER</li>
                  <li>STAY CONNECTED AND INCLUDED WITH PEOPLE, ACTIVITIES AND THEIR LOCAL COMMUNITIES</li>
                </ul>
              </em></p>

            </div>
          </div>
        </div>
      </div>

      <div class="row"> {# Quick facts #}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Quick facts</h3>

            </div>
            {# Panels for the tidbits #}
            <div class="panel-body list-group-item">
              Age Concern Newastle <b>employ 189 people</b> and have <b>133 volunteers</b>
            </div>


            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>spent £3.09m</b> supplying services and grants for its beneficiaries, and <b>received £2.45m</b> as fees or grants for these services. This totals as <b>a £0.64m spend</b> on providing its beneficiaries with services.
            </div>

            <div class="panel-body list-group-item">
              In 2014, <b>88% of spending</b> by Age Concern Newcastle was on charitable activities, this amount was also <b>106% of its income</b>.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>earned £0.04m</b> via activities such as running shops or hosting events. It <b>spent £0.05m</b> in costs related to these activities. This totals as a <b>£0.01m loss</b> for the organisation.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newcastle <b>receieved £0.35m</b> through voluntary donations or grants, in which the donator receives nothing in return. It <b>spent £0.07m</b> generating these donations. This totals as a <b>£0.28m gain</b> for the organisation.
            </div>

            <div class="panel-body list-group-item">
              In 2014, Age Concern Newastle <b>did not gain money from investment</b>, it <b>also did not spend on investment</b>.
            </div>


            <div class="panel-body list-group-item">
              Since 2010, Age Concern Newcastle's <b>income has fallen by 0.86%</b> whilst its <b>spending has increased by 21.97%</b>. On average, Age Concern Newcastle <b>spends 7.81% more than it receives each year</b>.
            </div>

          </div>
        </div>
      </div>

    </div> {# End main body #}

    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Title</h3>
            </div>

            <div class="panel-body">
              <p>
                Mmm. Charts
              </p>
            </div>

          </div>
        </div>
      </div>

    </div> {# End sidebar #}

  </div>

</div> <!-- End container -->
{% endblock content %}
