{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity{% endblock title %}


{% block content %}
<div class="container">
  <h1>A. Charity</h1>

  <!-- Large row so as to set up the grid ahl nice -->
  <div class="row">
    <div class="col-md-8">

      <p>Lovely messages here</p>
    </div> {# End main body #}

    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>

    </div> {# End sidebar #}

  </div>

</div> <!-- End container -->
{% endblock content %}
