{% extends 'MrshllSiteBundle:Page:base.html.twig' %}


{% block title %}Organisations{% endblock title %}

{% block content %}

<div class="container">
  <h1>Overview <small>Ooooh look at the graph!</small></h1>
</div>

{% endblock content %}
