<html>
  <head>
    {% block head %}
      <title>{% block title %}Default Title Page{% endblock title %}</title>

      <!-- Importing Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">

    {% endblock head %}
  </head>

  {% block body %}
  <body>

    {% block header %}
      <div class="jumbotron">
        <div class="container">
          <h1>Accountable | <small>Making Non-Profit Finance Transparent</small></h1>
        </div>
      </div>
    {% endblock header %}

    {% block content %}
      <h1>This is the default content. If you're seeing this, then somebody probably hasn't done their job properly</h1>
    {% endblock content %}

  </body>
  {% endblock body %}
</html>
