{% extends 'MrshllSiteBundle:Page:base.html.twig' %}


{% block title %}Home{% endblock title %}


{% block content %}
  <div class="container">



    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Data Sources</h1><br /><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-circle" src="http://mediastorage.bauermedia.co.uk/57/42027/8d415/91fa0/7ddc5/9236f/1a6ab/NCC_0_778x436.jpg?1418834344" width="300" height="300" />
            <p>Newcastle City Council.</p>
          </div>
      </div>

      <div class="col-md-4">

        <div class="thumbnail">
          <img class="img-circle" src="http://www.northumberland.gov.uk/images/v5/logo.png" height="300" width="300" />
          <p>Northumberland CountyCouncil</p>
        </div>

      </div>

      <div class="col-md-4">

        <div class="thumbnail">
          <img class="img-circle" src="https://d3n8a8pro7vhmx.cloudfront.net/4socialhousing/pages/77/attachments/original/1421023999/gateshead.JPG?1421023999" height="300" width="300" />
          <p>Gateshead City Council</p>
        </div>

      </div>

    </div>



    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>"Accountable is perfect" - <small>Everyone everywhere</small></h1>
      </div>
    </div>


  </div> <!-- End container -->

{% endblock content %}
