{% extends 'MrshllSiteBundle:Page:base.html.twig' %}


{% block title %}Home{% endblock title %}


{% block content %}
  <div class="container">



    <div class="row">
      <div class="col-md-6">
        <h1>Welcome to Accountable</h1><br /><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          Accountable contains data visualisations of UK Local Authority and Non-Profit expenditure data, using Open Data related to each. Accountable attempts to relate to the public
          where these trusted organisations spend their money, how much they spend, and what they spend it on.
        </p>
      </div>

    </div>




  </div> <!-- End container -->

{% endblock content %}
