{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity | Accountable (Mock-Up Page){% endblock title %}

{% block content %}
<div class="container">
  <h1>A. Charity <small><a href="http://www.notawebsite.com/">http://www.notawebsite.com/</a></h1>

  <div class="row">
    <!-- Charity Description panel -->
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-body">
          <p>Bacon ipsum dolor amet jowl doner turkey tempor, salami pancetta deserunt irure eiusmod. Porchetta reprehenderit spare ribs turducken meatloaf et anim magna. In eu nisi filet mignon turkey. Laborum cupim in cupidatat in. Ut nulla ut officia picanha tempor short loin adipisicing beef qui cillum aliqua velit culpa. Brisket incididunt deserunt aliquip pork belly culpa dolor. Ipsum bresaola chuck sirloin filet mignon.</p>

          <p>Beef ribs bacon bresaola ham hock pork belly proident leberkas. Porchetta turducken flank, filet mignon short loin minim ribeye. Aliquip leberkas officia, prosciutto salami pork belly andouille reprehenderit boudin occaecat. Tail ex proident deserunt, prosciutto mollit turkey eu landjaeger. Et in aute in sirloin laboris ut sausage spare ribs deserunt doner andouille. Shankle rump pork chop id esse sed velit excepteur landjaeger corned beef aliqua prosciutto duis ut. Anim prosciutto shank reprehenderit ullamco.</p>
        </div>
      </div>

    </div>

    <!-- At a Glance Panel -->
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">At a Glance</h3>
        </div>

        <table class="table">

          <tbody>
            <tr>
              <td>Income 2014</td>
              <td>£12m approx.</td>
            </tr>

            <tr>
              <td>Total Spend 2014</td>
              <td>£9m approx.</td>
            </tr>

            <tr>
              <td>CEO Salary</td>
              <td>£40, 000</td>
            </tr>

            <tr>
              <td>Avg Employee Salary</td>
              <td>£16, 000</td>
            </tr>

            <tr>
              <td>No. Employees</td>
              <td>47</td>
            </tr>

            <tr>
              <td>Active Projects</td>
              <td>19</td>
            </tr>

            <tr>
              <td>Avg. Spend per Project</td>
              <td>£234, 500</td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
  </div>

  <div class="row">
    <h2>Projects</h2>

    <div class="col-md-12">
      <div class="panel panel-default">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#allprojects" aria-controls="allprojects" role="tab" data-toggle="home">All Projects</a></li>
          <li role="presentation"><a href="#activeprojects" aria-controls="activeprojects" role="tab" data-toggle="profile">Active Projects</a></li>
          <li role="presentation"><a href="#inactiveprojects" aria-controls="inactiveprojects" role="tab" data-toggle="messages">Inactive Projects</a></li>
          <li role="presentation"><a href="#pendingprojects" aria-controls="pendingprojects" role="tab" data-toggle="settings">Pending Projects</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home"><p>Bacon ipsum dolor amet jowl doner turkey tempor, salami pancetta deserunt irure eiusmod. Porchetta reprehenderit spare ribs turducken meatloaf et anim magna. In eu nisi filet mignon turkey. Laborum cupim in cupidatat in. Ut nulla ut officia picanha tempor short loin adipisicing beef qui cillum aliqua velit culpa. Brisket incididunt deserunt aliquip pork belly culpa dolor. Ipsum bresaola chuck sirloin filet mignon.</p></div>
          <div role="tabpanel" class="tab-pane" id="profile">Pork<div>
            <div role="tabpanel" class="tab-pane" id="messages">Gammon</div>
            <div role="tabpanel" class="tab-pane" id="settings">Sausage</div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Funding</h3>
      </div>
      <div class="panel-body">
        <table class="table">

          <tbody>
            <tr>
              <td>Direct Donation</td>
              <td>£4m (33%)</td>
            </tr>

            <tr>
              <td>Research Council</td>
              <td>£5m (41%)</td>
            </tr>

            <tr>
              <td>Government Sponsorship</td>
              <td>£1m (8%)</td>
            </tr>

            <tr>
              <td>Private Sponsorship</td>
              <td>£1.5m (12.5%)</td>
            </tr>

            <tr>
              <td>Investment Return</td>
              <td>£500k (4.1%)</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <button type="button" class="btn btn-primary">Download</button>

            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> JSON
            </label>



            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2"> XML
            </label>



            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3"> CSV
            </label>


        </form>
      </div>
    </div>

    <p>Accountable provides this data for use in other projects. To download the information on this page click the download link.</p>
  </div>

</div>
</div>
<!-- End of container -->

{% endblock content %}
