{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity | Accountable (Mock-Up Page){% endblock title %}

{% block content %}
  <h1>This here is the content</h1>
{% endblock content %}
