{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}A. Charity | Accountable (Mock-Up Page){% endblock title %}

{% block content %}
  <div class="container">
    <h1>A. Charity</h1>

    <div class="row">
      <!-- Charity Description panel -->
      <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-body">
              <p>Bacon ipsum dolor amet jowl doner turkey tempor, salami pancetta deserunt irure eiusmod. Porchetta reprehenderit spare ribs turducken meatloaf et anim magna. In eu nisi filet mignon turkey. Laborum cupim in cupidatat in. Ut nulla ut officia picanha tempor short loin adipisicing beef qui cillum aliqua velit culpa. Brisket incididunt deserunt aliquip pork belly culpa dolor. Ipsum bresaola chuck sirloin filet mignon.</p>

              <p>Beef ribs bacon bresaola ham hock pork belly proident leberkas. Porchetta turducken flank, filet mignon short loin minim ribeye. Aliquip leberkas officia, prosciutto salami pork belly andouille reprehenderit boudin occaecat. Tail ex proident deserunt, prosciutto mollit turkey eu landjaeger. Et in aute in sirloin laboris ut sausage spare ribs deserunt doner andouille. Shankle rump pork chop id esse sed velit excepteur landjaeger corned beef aliqua prosciutto duis ut. Anim prosciutto shank reprehenderit ullamco.</p>
          </div>
        </div>

      </div>

      <!-- At a Glance Panel -->
      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">At a Glance</h3>
          </div>

          <table class="table">

            <tbody>
              <tr>
                <td>Income 2014</td>
                <td>£12m approx.</td>
              </tr>

              <tr>
                <td>Total Spend 2014</td>
                <td>£9m approx.</td>
              </tr>

              <tr>
                <td>CEO Salary</td>
                <td>£40, 000</td>
              </tr>

              <tr>
                <td>Avg Employee Salary</td>
                <td>£16, 000</td>
              </tr>

              <tr>
                <td>No. Employees</td>
                <td>47</td>
              </tr>

              <tr>
                <td>Active Projects</td>
                <td>19</td>
              </tr>

              <tr>
                <td>Avg. Spend per Project</td>
                <td>£234, 500</td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>
{% endblock content %}
