{% extends 'MrshllSiteBundle:Page:base.html.twig' %}


{% block title %}Test Page{% endblock title %}


{% block content %}
<div class="container">



    <div class="row">
      <div class="col-md-12">
        <h1>Test Page</h1>
        <p>This page is a test page designed to test various layouts, features, etc. before they make it into a final version with their own controller. See <em>MrshllSiteBundle::Default:testAction()</em> for associated logic.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary" id="newcastlebtn">Get Newcastle Data</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" id="northumberlandbtn">Get Northumberland Data</button>
      </div>
  </div>


</div> <!-- End container -->

<script>

  /**
   * Controller for getting newcastle data
   */
   $('#newcastlebtn').click(function(e){
     $.ajax({
       url: "{{url('get_council_data', {'councilcode': 'newcastle'})}}",
       success: function(response){
         alert(response);
       },
       error: function(response){
         alert(response.responseText);
       }
     });
   });

   /**
    * Controller for getting newcastle data
    */
    $('#northumberlandbtn').click(function(e){
      $.ajax({
        url: "{{url('get_council_data', {'councilcode': 'northumberland'})}}",
        success: function(response){
          alert(response);
        },
        error: function(response){
          alert(response.responseText);
        }
      });
    });

</script>

{% endblock content %}
