{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block content %}
<div class="container">

  <h1 class="council-name" id="{{council.id}}">{{council.name}}</h1>

  {# We put everything inside one row, with multiple sub-rows in the columns for the far panel. TO achieve the layout we want  #}
  <div class="row">
    {# Comparisons panel(s) #}
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Data comparisons go here</p>
        </div>
      </div>
    </div>

    {# Column of various bits of data (this is where the charts live) #}
    <div class="col-md-4">

      {# Category spread (doughnut chart) #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Spending Breakdown</h3>
            </div>
            <div class="panel-body">
              <canvas id="test-doughnut"></canvas>
            </div>
          </div>
        </div>
      </div>

      {# Top 3 Vendors #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Vendor Chart!</p>
            </div>
          </div>
        </div>
      </div>

      {# Payments #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Payment charts</p>
            </div>
          </div>
        </div>
      </div>

      {# Spend by month #}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Spending by month!</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div><!-- End container -->


<script type="text/javascript" src="{{asset('/js/chart-js/Chart.js')}}"></script>

<script type="text/javascript">
 var ctx = document.getElementById("test-doughnut").getContext("2d");
 var data = [
    {
        value: 300,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Adult Social Care"
    },
    {
        value: 150,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Regional Growth Fund"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Children's and Educational Services"
    }
];


 var chart = new Chart(ctx).Doughnut(data);
</script>

{% endblock content %}
