{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}Council List{% endblock title %}

{% block content %}
  <div class="container">
    <h1>List of Council Data Available</h1>

    <div class="row">
      {% for council in councilList %}
        {{include('MrshllSiteBundle:Page/Council:listpanel.html.twig', {'council': council})}}
      {% else %}
        <p>There appears to be no data, oops!</p>
      {% endfor %}
    </div>

  </div> <!-- End container -->
{% endblock content %}
