{% extends 'MrshllSiteBundle:Page:base.html.twig' %}

{% block title %}Local Authorities{% endblock title %}

{% block content %}
  <div class="container">
    <h1>Local Authorities</h1>

    <div class="row">
      <div class="col-md-4">
        <!-- <div class="panel panel-default"> -->
          <div class="thumbnail">
            <div class="row">
              <div class="col-md-12">
                <h3>Northumberland Council </h3>
                <a class="btn btn-primary" href="{{url('council_stats', {'councilcode': 'northumberland'})}}">View</a>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="col-md-4">
        <!-- <div class="panel panel-default"> -->
          <div class="thumbnail">
            <div class="row">
              <div class="col-md-12">
                <h3>Newcastle Council</h3>
                <a class="btn btn-primary" href="{{url('council_stats', {'councilcode': 'newcastle'})}}">View</a>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>

    </div>

  </div> <!-- End container -->
{% endblock content %}
