<p>We download our data manually from each Local Authority's website.</p>

<p>Since 2010 Local Authorities have been required by law to publish information regarding their payments to suppliers over £500. In 2013, this was updated to include all payments over £250</p>

<p>Accountable takes this data, and runs over it, extracting information into our own database so that we can use it later. This isn't easy, as there is no standard dictating the format of the published information - meaning that we
  need to write custom software for each Local Authority we add to our database. Additionally, there is no guarantee of quality within a given Local Authority's data (ie sometimes the files are corrupted).
</p>

<p>
  To counter this. The Accountable Team manually download each of the files from 2014 for each Local Authority currently supported as we knew these would work. We then upload them into the database.
  Since each Local Authority is structured differently, we need to map the varying columns of information to a common format so we can compare them (and store them efficiently). This is occasionally difficult as
  Local Authorities are often structured to suit the needs of those who live there. We seek to provide information on our mapping system soon.
</p>
