<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <button type="button" class="btn btn-primary">Download</button>

        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> JSON
        </label>



        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2"> XML
        </label>



        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3"> CSV
        </label>


    </form>
  </div>
</div>

<p>Accountable provides this data for use in other projects. To download the information on this page click the download link.</p>
