<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Funding</h3>
  </div>

  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Direct Donation</td>
          <td>£4m (33%)</td>
        </tr>

        <tr>
          <td>Research Council</td>
          <td>£5m (41%)</td>
        </tr>

        <tr>
          <td>Government Sponsorship</td>
          <td>£1m (8%)</td>
        </tr>

        <tr>
          <td>Private Sponsorship</td>
          <td>£1.5m (12.5%)</td>
        </tr>

        <tr>
          <td>Investment Return</td>
          <td>£500k (4.1%)</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
