<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">At a Glance</h3>
  </div>

  <table class="table">

    <tbody>
      <tr>
        <td>Income 2014</td>
        <td>£12m approx.</td>
      </tr>

      <tr>
        <td>Total Spend 2014</td>
        <td>£9m approx.</td>
      </tr>

      <tr>
        <td>CEO Salary</td>
        <td>£40, 000</td>
      </tr>

      <tr>
        <td>Avg Employee Salary</td>
        <td>£16, 000</td>
      </tr>

      <tr>
        <td>No. Employees</td>
        <td>47</td>
      </tr>

      <tr>
        <td>Active Projects</td>
        <td>19</td>
      </tr>

      <tr>
        <td>Avg. Spend per Project</td>
        <td>£234, 500</td>
      </tr>

    </tbody>
  </table>

</div>
