{% extends 'MrshllSiteBundle:Page:base.html.twig' %}


{% block title %}Organisations{% endblock title %}

{% block content %}

<div class="container">
  <h1>Organisation List</h1>

  <div class="row">

    {% for org in orgs %}
      <div class="col-md-3">
        {{include('MrshllSiteBundle:Page/Org:orgListPanel.html.twig' ,{'org': org})}}
      </div>
      {% else %}
      <p>There doesn't appear to be anything in the database</p>
    {% endfor %}

  </div>

</div>

{% endblock content %}
