
<div class="panel panel-default">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#allprojects" aria-controls="allprojects" role="tab" data-toggle="home">All Projects</a></li>
    <li role="presentation"><a href="#activeprojects" aria-controls="activeprojects" role="tab" data-toggle="profile">Active Projects</a></li>
    <li role="presentation"><a href="#inactiveprojects" aria-controls="inactiveprojects" role="tab" data-toggle="messages">Inactive Projects</a></li>
    <li role="presentation"><a href="#pendingprojects" aria-controls="pendingprojects" role="tab" data-toggle="settings">Pending Projects</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><p>Bacon ipsum dolor amet jowl doner turkey tempor, salami pancetta deserunt irure eiusmod. Porchetta reprehenderit spare ribs turducken meatloaf et anim magna. In eu nisi filet mignon turkey. Laborum cupim in cupidatat in. Ut nulla ut officia picanha tempor short loin adipisicing beef qui cillum aliqua velit culpa. Brisket incididunt deserunt aliquip pork belly culpa dolor. Ipsum bresaola chuck sirloin filet mignon.</p></div>
    <div role="tabpanel" class="tab-pane" id="profile">Pork<div>
      <div role="tabpanel" class="tab-pane" id="messages">Gammon</div>
      <div role="tabpanel" class="tab-pane" id="settings">Sausage</div>
    </div>

  </div>
</div>

</div>
